.form-grid {
   width: 700px;
   background-color: white;
   padding: 15px;
   display: flex;
   flex-direction: column;
   position: relative;
   border-radius: 10px;
   
}


/* Media Queries */
@media (max-width: 820px) {
    .form-grid {
        width: 90%;
    }
}

.detail-group {
    display: flex;
    flex-direction: column;
  }
  
  .detail-value {
    padding: 0.5rem;
    background-color: #F9FAFB;
    border: 1px solid #E5E7EB;
    min-height: 2.5rem;
  }
  
  .detail-value-multiline {
    min-height: 5rem;
  }
